body {
  margin: 0;
  padding: 0;
}

.pagina_contactos {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 10px; /* Separación superior */
}

.container_rectangulos{
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Alineación superior */
  padding: 5px; /* Espacio interior */
}

.contenido-superior {
  padding: 60px; /* Ajusta el espacio superior */
  text-align: center; /* Centra el texto */
  margin-left: 200px; /* Agrega espacio a la izquierda */
}

.rectangulo {
  width: 300px;
  background-color: rgb(199, 222, 238);
  border: 1px solid rgb(8, 43, 52);
  padding: 40px;
  text-align: center;
}

.icono {
  margin-bottom: 10px;
}

.contenido {
  font-size: 16px;
}

.footer {
  background-color: rgba(0, 147, 239, 0.303);
  padding: 20px;
  text-align: center;
  margin-top: auto;
}

.pagina_contactos{
  height: 100vh;
  background-image: url('https://img.freepik.com/fotos-premium/desenfoque-fondo-camino-hospital-blanco-corto_7180-2422.jpg');
  background-size: cover;
  background-position: center;
}


