.container-wrapper {
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto; /* Para centrar el contenedor horizontalmente */
  background-color: white;
}

.login_cuerpo {
  margin-top: 150px; /* Ajusta el valor según sea necesario */
}

.login-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedorCentral {
  /* Otros estilos... */
  overflow: auto;
}
