.container {
    margin-top: 4rem; /* Ajusta el valor según tus necesidades */
    background-color: white;
  }

  .loginBody {
    background-image: url("../img/VidaEduTECSUP.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  