body {
    margin: 0;
    padding: 0;
  }
  
  .pagina_reserva {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .row {
    flex: 1;
    justify-content: center;
    align-items: flex-start;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .table-responsive {
    margin-bottom: 20px;
  }
  
  .footer {
    background-color: rgba(0, 147, 239, 0.303);
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
  .pagina_reserva{
    height: 100vh;
    background-image: url('https://img.freepik.com/fotos-premium/desenfoque-fondo-camino-hospital-blanco-corto_7180-2422.jpg');
    background-size: cover;
    background-position: center;
  }