body {
    margin: 0;
    padding: 0;
  }
  
  .pagina_reserva {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .row {
    flex: 1;
    justify-content: center;
    align-items: flex-start;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .table-responsive {
    margin-bottom: 20px;
  }
  
  .footer {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    margin-top: auto;
  }
  
  