body {
  margin: 0;
  padding: 0;
}
.pagina_inicio{
    height: 100vh;
    background-image: url('https://www.shutterstock.com/image-photo/hands-medical-doctor-clipboard-health-260nw-327516011.jpg');
    background-size: cover;
    background-position: center;
  }
  
  .pagina_inicio {
    position: relative; /* Agrega posición relativa para que el pseudoelemento sea posicionado correctamente */
  }
  
  .pagina_inicio::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('../img/fondoGeneral.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Ajusta el valor de opacidad para hacerlo más oscuro */
    z-index: -1;
  }
  
  .pagina_inicio::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Ajusta el valor de la opacidad para hacerlo más oscuro */
    z-index: -2; /* Establece un índice z negativo para colocar el fondo en el fondo */
  }
  
  
  
  .content {
    text-align: center;
    justify-content: center;
    margin-top: 200px;
  }

  .pagina_inicio {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .footer {
    margin-top: auto;
  }
  
  

  
